# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# Docker
*.log
*.pid
*.tar
*.bak
*.swp
.dockerignore

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Render build cache
.render/
